[submodule "vundle"]
    path = .vim/bundle/vundle
    url = https://github.com/gmarik/vundle
[submodule "bash/bash-powerline"]
    path = bash/bash-powerline
    url = https://github.com/harahauk/bash-powerline.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts
